$gray-color: #ebebeb;

.Filter-btn {
	border: 1px solid $gray-color;
	border-radius: 0.3rem;
	padding: 0.3rem 0.7rem;
	font-size: 0.9rem;
	margin: 0.5rem 0.3rem;
}

.Filter-btn:hover {
	background-color: $gray-color;
}

.Filter-btn:active {
	background-color: #008489;
}
