$border-gray-color: #ebebeb;

.Filter-bar {
	border-top: 1px solid $border-gray-color;
	border-bottom: 1px solid $border-gray-color;
	margin: 1rem 0;
	padding-left: 1rem;
	display: flex;
	height: 2.8rem;
}
