$border-gray-color: #ebebeb;
.Header {
	position: fixed;
	width: 100%;
	background-color: white;
	.Filter-bar {
		border-top: 1px solid $border-gray-color;
		border-bottom: 1px solid $border-gray-color;
		padding-left: 1rem;
		display: flex;
	}
}
