.Guest-div {
	width: 20rem;
	display: flex;
	justify-content: space-between;
	margin: 1rem;
	.Guest-name {
		margin: 0 1rem;
		align-self: center;
	}
	.Guest-set-div {
		span {
			margin: 0 1rem;
		}
		.Increase-button,
		.Decrease-button {
			padding: 0.5rem 0.8rem;
			border: 1px solid #008489;
			border-radius: 50%;
		}
	}
}
